
.footer {
    background-color: #1A1A1A; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .footer-container {
    display: flex;
    gap: 20px; 
  }
  
  
  .footer-container .icon {
    font-size: 40px; 
    color: #ffffff; 
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  
  .footer-container .icon:hover {
    transform: scale(1.2); 
    color: #006FEE; 
  }
  